.pes {
  padding: 0px 20px;
  border: 2px solid black;
  box-shadow: 3px 3px 3px black;
  width: 350px;
  margin-top: 20px;
  background-color: ghostwhite;
}
@media screen and (min-width: 360px) {
  .pes {
    margin: 0 auto;
    margin-top: 20px;
  }
}
